<html>
<head th:replace="~{base :: head}">
</head>
<body>
	<div c lass="bg-image"
		style="background-image: url('https://cdn.pixabay.com/photo/2020/09/23/19/58/halloween-5596921_960_720.jpg'); height: auto;">

		<div th:replace="~{base :: logo}"></div>
		<div class="container justify-content-between p-3">
			<div th:replace="~{base :: navbar(Nova)}"></div>
			<div class="row d-flex">
				<div class="col-12 col-md-9 mb-3">
					<div class="card" style="width: auto;">
						<div class="w-auto p-2" style="background-color: #eee;">
							<div class="mb-3 p-3">
								<form th:object="${requisicaoNovaHistoria}" action="novo"
									method="post">
									<div class="row mb-3">
										<label for="nomeHistoria" class="col-sm-2 col-form-label">Título:</label>
										<div class="col-sm-10">
											<input th:field="*{nomeHistoria}" type="text"
												th:errorclass="is-invalid" class="form-control">
											<div class="invalid-feedback" th:errors="*{nomeHistoria}">Título
												não pode estar em branco</div>
										</div>
									</div>

									<div class="row mb-3">
										<label for="sinopseHistoria" class="col-sm-2 col-form-label">Resumo:</label>
										<div class="col-sm-10">
											<textarea th:field="*{sinopseHistoria}" class="form-control"
												rows="2" placeholder="Faça um breve resumo ou introdução"></textarea>
										</div>
									</div>
									<div class="row mb-3">
										<label for="categoria" class="col-sm-2 col-form-label">Categoria:</label>
										<div class="col-sm-10">

											<select id="categoria" class="form-select"
												th:field="*{categoria}">
												<option th:value="'ASSUSTADOR'" th:text="Assustador"></option>
												<option th:value="'ENGRACADO'" th:text="Engraçado"></option>
												<option th:value="'LENDAURBANA'" th:text="LendasUrbanas"></option>
											</select>
										</div>
									</div>
									<div class="row mb-3">
										<label for="historia" class="col-sm-2 col-form-label">História:</label>
										<div class="col-sm-10">
											<textarea th:field="*{historia}" th:errorclass="is-invalid"
												class="form-control" rows="4"></textarea>
											<div class="invalid-feedback" th:errors="*{historia}">História
												não pode estar em branco.</div>

										</div>
									</div>

									<div class="row mb-3">
										<label for="urlHistoria" class="col-sm-2 col-form-label">Url
											da História:</label>
										<div class="col-sm-10">
											<input th:field="*{urlHistoria}" type="link"
												class="form-control" name="urlHistoria">
										</div>
									</div>
									<div class="row mb-3">
										<label for="urlImagem" class="col-sm-2 col-form-label">Imagem:</label>
										<div class="col-sm-10">
											<input th:field="*{urlImagem}" type="link"
												class="form-control" name="urlImagem">
										</div>
									</div>


									<div class="d-flex flex-row-reverse" m-3>
										<button type="submit" class="btn btn-success">Enviar</button>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
				<div th:replace="~{base :: sidebar}"></div>
			</div>
		</div>
	</div>
	</div>
	</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
		crossorigin="anonymous"></script>

</body>
</html>